<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-2.5.xsd
            http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-2.5.xsd">
	<!-- a pooling based JMS provider -->
	<bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
		<property name="brokerURL">
			<value>tcp://localhost:61616</value>
		</property>
	</bean>

	<bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory"
		destroy-method="stop">
		<property name="connectionFactory" ref="connectionFactory" />
	</bean>

	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="ServerToClient" />
	</bean>

	<!-- Spring JMS Template -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory" />
		<property name="defaultDestination" ref="defaultDestination" />
	</bean>

	<bean id="producer" class="me.vurt.nms.core.jms.impl.MessageProducerImpl">
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>

	<bean id="messageListener" class="me.vurt.nms.core.jms.MessageListener"
		scope="prototype" />

	<!-- 消息监听器 -->
	<bean id="messageListenerApater"
		class="me.vurt.nms.core.jms.impl.MessageListenerAdapter2"
		scope="prototype">
		<constructor-arg ref="messageListener" />
		<property name="defaultListenerMethod" value="messageReceived" />
		<property name="defaultResponseDestination" ref="defaultDestination" />
	</bean>

	<bean id="listenerContainer"
		class="org.springframework.jms.listener.DefaultMessageListenerContainer"
		scope="prototype">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="destination" ref="defaultDestination" />
		<property name="messageListener" ref="messageListenerApater" />
	</bean>

</beans>